/* style for SLR Parser Visualization */

.LRGrammar {
    font-family: Helvetica, Arial, sans-serif;
    padding: 2.5%;
}

.LRGrammar > .header {
    font-size: 300%;
    font-weight: 100;
    color: rgb(75, 75, 75);
    margin: 0 auto;
}

.InputGrammar {
    text-align: left;
}

.InputGrammar > .header {
    font-weight: 300;
    color: #888;
}

.InputGrammar .TextArea {
    font-size: 120%;
    color: rgb(120, 120, 120);
}

.InputGrammar h3 {
    font-size: 130%;
    font-weight: 600;
    color: rgb(75, 75, 75);
}

.InputGrammar li {
    font-size: 125%;
    color: #777;
    line-height: 1.6;
}

.InputGrammar Button {
    margin-top: 2%;
}